@import "tailwindcss";

@theme {
  --color-neon: #39ff14; /* Neon Green */
  --color-neon-glow: rgba(57, 255, 20, 0.5);
  
  --font-cairo: var(--font-cairo), ui-sans-serif, system-ui, sans-serif;
  
  --color-background: #000000;
  --color-foreground: #ffffff;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .text-shadow-neon {
    text-shadow: 0 0 10px var(--color-neon), 0 0 20px var(--color-neon);
  }
  .box-shadow-neon {
    box-shadow: 0 0 15px var(--color-neon-glow);
  }
  .box-shadow-neon-lg {
    box-shadow: 0 0 25px var(--color-neon-glow);
  }
}
